<div class="row">
    <div class="col-md-2 col-1"></div>
    <div class="col-md-8 col-10 border rounded shadow px-0">
        <div class="row">
            <div class="col-md-8 col-12 py-3 px-4">
                <h5>Get in touch</h5>
                <hr>
                <form [formGroup]="userMessage">
                    <div>
                        <input type="text" class="form-control" formControlName="firstName" autocomplete="given-name"
                            placeholder="First name">
                    </div>
                    <div>
                        <input type="text" class="form-control" formControlName="lastName" autocomplete="family-name"
                            placeholder="Last name">
                    </div>
                    <div>
                        <input type="email" class="form-control" autocomplete="email" formControlName="email" placeholder="Email">
                    </div>
                    <div>
                        <textarea name="" class="form-control" cols="10" id="" formControlName="message"
                            placeholder="Enter your message..."></textarea>
                    </div>
                    <div class="col-3">
                        <button type="submit" role="button" (click)="onSubmit()" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-12 py-3 px-4 rounded contact-form bg-primary text-light">
                <h5>Contact us</h5>
                <app-contact-info
                    *ngFor="let contact of contactList"
                    [contact]="contact">
                </app-contact-info>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-1"></div>
</div>