// Colors
$primary-color: #0f8bde;
$grey-color: #ccc;
$white-color: #ffffff;
$black-color: #000;
$grey-color-nav: #8c8c8c;


// Border
$border-radius: 1.5rem;
$border-radius-element: 2rem;

// Paddings and margins
$form-padding: 5rem;
$padding: 3rem;
$input-padding: 2rem;


// Font
$font-size: 1.2rem !default;
