<div style="height: 50px;" id="about-us"></div>
<div class="row ">
    <div class="col-xxl-2 col-1"></div>
    <div class="col-xxl-4 border border-light shadow col-xl-5 col-lg-5 d-lg-block d-none div-img px-1">
        <img class="border border-light shadow image" src="assets/img_5.jpg" style="height: fit-content;" alt="About us photo">
    </div>
    <div class="col-xxl-4 m-0 col-xl-5 col-lg-5 col-10">
        <h3 class="text-center">ABOUT US</h3>
        <p class="about-us-paragraph">
            At SOLPan, we empower individuals and businesses with innovative solar energy solutions. <br>
            Combining cutting-edge technology and expert knowledge, we create efficient, eco-friendly systems tailored
            to your
            energy needs. <br> <br>

            Our mission is to make clean energy accessible, driving a sustainable future. <br>
            Backed by a passionate team with years of experience, we deliver customized solutions that ensure long-term
            savings and environmental
            benefits. <br> <br>

            SOLPan is more than a solar provider—we're your partner in building a greener, brighter tomorrow.
        </p>
    </div>
    <div class="col-xxl-2 col-1"></div>
</div>