<div class="row">
    <div id="" class="carousel slide c-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    class="d-block w-100"
                    style="filter: brightness(0.7); height:500px;"
                    alt="Carousel image"
                    src="assets/img_4.jpg"
                />

            </div>
            <!-- Ky sektori ma posht duhet me kane nje component ne veti, ne rast se deshiroj me shtu me shume sliders ne carousel -->
            <div class="carousel-caption d-none d-md-block c-caption rounded py-4 px-4">
                <h5>SOLPan</h5>
                <p class="">At SOLPan, we deliver innovative and reliable solar energy solutions tailored to your
                    needs. Harness the
                    power of the sun with our cutting-edge technology, expert team, and commitment to sustainability.
                    Together, let's build a greener, brighter future.</p>
                <a href="#about-us" class="btn btn-primary c-carosel-button">About us</a>
            </div>
        </div>
    </div>
</div>